body {
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/*Styling for the whole header*/

header {
  padding-left: 9%;
  padding-right: 9%;
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: solid 2px #e5e5e5;
  background-color: #f5f5f5;
}

/*styling for the github logo in the header*/

#gitHubLogo {
  font-size: 28px;
  padding-right: .3em;
  display: inline-block;
}

/*styling for the search bar in the header*/

.searchBar {
  font-size: .75em;
  padding: .6em;
  border-radius: .3em;
  border: solid 1px #ccc;
  width: 31%;
  display: inline-block;
  vertical-align: top;
}

/*styling for the column on the left*/

.sideBar {
  margin-left: 9%;
  width: 19%;
  /*border: 1px solid black;*/
  display: inline-block;
  margin-top: 20px;
  padding-right: .5em;
}

/*styling for the image of the octocat*/

.octocatImage {
  max-width: 100%;
  border-radius: .5em;
}

/*styling for the username*/

.name {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: .5em;
}

/*Styling for the username*/

.username {
    font-weight: lighter;
    font-size: 1.2em;
    color: #666;
    margin-top: .2em;
    padding-bottom: .5em;
    border-bottom: solid 1px #e5e5e5;
}

/*styling for the userInfo list*/

.userInfo {
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: solid 1px #e5e5e5;
    line-height: 1.7;
    font-size: .9em;
}

/*styling for small icons*/

.listIcon {
    padding-right: .5em;
    width: 7%;
    text-align: center;
    color: #767676;
}

/*styling for the statsDiv*/

.statsDiv {
    padding-bottom: .5em;
    border-bottom: solid 1px #e5e5e5;
}

/*styling for stat numbers*/

.stats {
    display: inline-block;
    text-align: center;
    width: 32%;
    padding-top: .5em;
}

/*styling for children of stats*/

.statFigures {
    font-size: 1.7em;
    color: #4078c0;
    font-weight: bold;
}

.statUnits {
    color: #e5e5e5;
    font-size: .75em;
    color: #767676;
}

/*styling for the column on the right*/

.rightColumn {
  width: 60%;
  /*border: 1px solid black;*/
  display: inline-block;
  padding: 0 0 2em .5em;
  margin-top: 20px;
  margin-right: 9%;
  float: right;
}

/*styling for the contributions tab*/

.contributions {
    font-weight: lighter;
    font-size: 1em;
    padding-top: .5em;
}

/*styling for firstTab*/

.firstTab {
    padding-bottom: 1em;
}

/*styling for tabContainer*/

.tabContainer {
    border: solid 1px #e5e5e5;
    border-radius: .2em;
}

/*styling for the popularRepositories section */

.popularRepositories {
    font-size: .9em;
    font-weight: bold;
    border-bottom: solid 1px #e5e5e5;
    padding: .7em 0 .7em .5em;
    background-color: #f5f5f5;
}

/*styling for repositories */

.repositories {
    text-decoration: none;
}

/*styling for octicon octicon-repo icons*/

.octicon.octicon-repo {
    color: #767676;
    padding-right: .2em;
    padding-left:  .7em;
}

/*styling for repoTitle*/

.repoTitle {
    color: #4078c0;
    width: 45%;
    display: inline-block;
    padding-top: .5em;
    padding-bottom: .5em;
    font-weight: bold;
    font-size: .9em;
}

/*styling for stars on right side*/

.stars {
    position: absolute;
}

/*styling for Title description*/

.description {
    display: block;
    max-width: 100%;
    padding: 0 0 .5em 2em;
    font-size: .8em;
    color: #666;
    font-weight: 500;
}
